@import "bootstrap/navbar";

.th-navbar {
  border-width: 0;
  background: none;

  .container {
    position: relative;
  }

  @include respond-to(md-and-up) {
    min-height: 80px;
  }

}

.th-navbar__top {
  background-color: map-get($colors, darkerBg);
}

.th-navbar__bottom {
  background-color: map-get($colors, darkBg);
}

.th-navbar__toggle {
  float: left;
  padding: 3px 0;
  margin-left: 10px;

  .icon-bar {
    height: 5px;
    width: 24px;

    + .icon-bar {
      margin-top: 5px;
    }
  }
}

.th-navbar__brand {
  padding-left: 0;
  padding: 15.5px 10px;

  @include respond-to(md-and-up) {
    padding: 28px 10px;
    height: 80px;
    line-height: normal;
  }

  &--mobile {
    display: block;

    @include respond-to(md-and-up) {
      display: none;
    }

  }

  &--desktop {
    display: none;

    @include respond-to(md-and-up) {
      display: block;
    }

  }

}

.th-account-menu {
  font-size: 14px;
  margin-right: 15px;

  a {
    @extend %inline-block;
    padding: 30px 15px;
    color: map-get($colors, navbarInverseLinkColor);
  }
}

.th-contact-info {
  font-size: 14px;
}

.th-contact-info__item {
  @extend %inline-block;
  padding: 30px 15px;
}

.th-navbar--translucent {
  .th-navbar__top {
    @include respond-to(md-and-up) {
      @include translucent-bg(map-get($colors, darkerBg), 0.8);
    }

  }

  .th-navbar__bottom {
    @include respond-to(md-and-up) {
      @include translucent-bg(map-get($colors, darkBg), 0.6);
    }
  }
}
