@import "bootstrap/navs";

.th-menu-top {

  ul > li > a {
    font-size: 1.4rem;
    font-family: "montserrat-bold";
    padding-left: 30px;
    padding-right: 30px;

    &:hover {
      text-decoration: underline;
    }

    &:first-child {
      padding-left: 10px;
    }
  }

}
