@import "bootstrap/type";

@include app-font('montserrat');
@include app-font('montserrat-bold');

.th-page-header {
  padding-bottom: 0;
  margin: 16px 0;
}

h4, .h4, h5, .h5, h6, .h6 {
  text-transform: uppercase;
}
