.th-elist {
  @extend %inline-block;
  padding-bottom: 15px;
  padding-top: 10px;
  border-bottom: 1px solid map-get($colors, borderColor);

  @include respond-to(sm-and-up) {
    border: 0;
    max-width: 280px;
    margin-left: 30px;
  }

  @include respond-to(md-and-up) {
    border: 0;
    margin-left: 42px;
  }
}

.th-elist__input {
  background-color: map-get($colors, lightBg);
  border: 0;
  color: map-get($colors, textDark);
  font-size: 1.4rem;
  height: 30px;

  @include input-placeholder {
    color: map-get($colors, textDark);
  }

}

.th-elist__submit {
  border: 0;
  height: 30px;
  font-size: 1.2rem;
  background-color: map-get($colors, lightBg);

  span {
    @extend %inline-block;
  }
}
