%inline-block {
  @include inline-block;
}

%opacity-100 {
  @include opacity(1);
}

%opacity-80 {
  @include opacity(0.8);
}

%opacity-75 {
  @include opacity(0.75);
}

%animate-all-default {
  @include transition(all, 0.2s, ease-in-out);
}

%animate-color-default {
  @include transition(color, 0.2s, ease-in-out);
}

%placeholder-text {
  @include input-placeholder {
    color: map-get($colors, placeholder);
  }
}

%placeholder-text-focus {
  @include input-placeholder {
    color: map-get($colors, placeholder--focus);
  }
}

%position-absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

%rounded {
  &--narrow {
    @include border-radius(3px);
  }

  &--wide {
    @include border-radius(13px);
  }
}

%remove-box-shadow {
  @include box-shadow(none);
}

.nopadding {
  padding: 0;
}

