

<div class="th-home-slider">
  <div class="th-slide th-slide-1">
    <a data-ui-sref="i18n.category({ categoryName: 'sample-category', categoryId: 123 })">
      <span class="th-slide__content">
        <span class="th-slide__title">Sunny Getaway</span>
        <span class="th-slide__subtitle">new shirts and shorts now available for a trendy summer season</span>
        <span class="btn btn-lg th-slide__button">Shop Now</span>
      </span>
    </a>
  </div>
</div>

<div class="clearfix th-promos-grid">
  <div class="th-promos-grid__heading">
    <span>New styles in stock now</span>
    <a href="#">Shop New</a>
  </div>
  <div class="nopadding col-xs-6 col-sm-4">
    <div class="th-promos-grid__block th-promos-grid__1">
      <a href="#">
        <span class="th-promos-grid__title">T-Shirst &amp; Vests</span>
      </a>
    </div>
  </div>
  <div class="nopadding col-xs-6 col-sm-4">
    <div class="th-promos-grid__block th-promos-grid__2">
      <a href="#">
        <span class="th-promos-grid__title">Sweaters</span>
      </a>
    </div>
  </div>
  <div class="nopadding col-xs-6 col-sm-4">
    <div class="th-promos-grid__block th-promos-grid__3">
      <a href="#">
        <span class="th-promos-grid__title">Shirts</span>
      </a>
    </div>
  </div>
  <div class="nopadding col-xs-6 col-sm-4">
    <div class="th-promos-grid__block th-promos-grid__4">
      <a href="#">
        <span class="th-promos-grid__title">Pants</span>
      </a>
    </div>
  </div>
  <div class="nopadding col-xs-6 col-sm-4">
    <div class="th-promos-grid__block th-promos-grid__5">
      <a href="#">
        <span class="th-promos-grid__title">Jackets &amp; Coats</span>
      </a>
    </div>
  </div>
  <div class="nopadding col-xs-6 col-sm-4">
    <div class="th-promos-grid__block th-promos-grid__6">
      <a href="#">
        <span class="th-promos-grid__title">Accessories</span>
      </a>
    </div>
  </div>
</div>

<div class="clearfix th-featured-products">
  <div class="th-featured-products__title">Featured Styles</div>
  <div class="th-product-slider">
    <div class="th-product-box th-product-slider__product">
      <a href="#" class="th-product-slider__image">
        <img src="/images/demo/featured-product-1.jpg" alt="">
      </a>
      <div class="th-product-details th-product-details--simple th-product-slider__details">
        <a href="#" class="th-product-details__name th-product-slider__details__name">Hooded Sweater</a>
        <span class="th-product-details__price">$34.95</span>
        <span class="th-product-details__swatches">
          <a href="#"><img src="/images/demo/sw-1.png" height="10" width="11" alt=""></a>
          <a href="#"><img src="/images/demo/sw-2.png" height="10" width="11" alt=""></a>
          <a href="#"><img src="/images/demo/sw-3.png" height="10" width="11" alt=""></a>
          <a href="#"><img src="/images/demo/sw-4.png" height="10" width="11" alt=""></a>
          <a href="#"><img src="/images/demo/sw-5.png" height="10" width="11" alt=""></a>
        </span>
      </div>
    </div>
  </div>
</div>
