<div class="th-page-wrap th-page-wrap--product">
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="th-product-view th-product-view--tall">
          <div class="row">
            <div class="col-xs-12 col-md-9">
              <div class="th-product-view__image">
                <a href="#"><img src="/images/demo/product-lg.jpg" class="img-responsive" alt=""></a>
              </div>
            </div>
            <div class="visible-md visible-lg col-xs-12 col-md-3">
              <div class="th-product-view__alts th-product-view--tall__alts">
                <a href="#" class="th-product-view__alts__item">
                  <img src="/images/demo/alt-view-1.jpg" alt="">
                </a>
                <a href="#" class="th-product-view__alts__item">
                  <img src="/images/demo/alt-view-2.jpg" alt="">
                </a>
                <a href="#" class="th-product-view__alts__item">
                  <img src="/images/demo/alt-view-3.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div> <!-- /.th-product-view -->
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="th-product-details th-product-details--full">
          <div class="visible-md visible-lg th-btn th-btn--back"><a data-ui-sref="i18n.category({ categoryName: 'sample-category', categoryId: 123 })"><span class="glyphicon glyphicon-chevron-left"></span> Back to Sweaters &amp; Cartigans</a></div>
          <div class="th-product-details__name th-product-details--full__name">
            Hooded Sweater
          </div>
          <div class="th-product-details__price th-product-details--full__price">
            $34.95
          </div>
          <div class="th-product-details__options th-product-details--full__options">
            <div class="th-product-details__swatches th-product-details--full__swatches">
              <h5 class="h5">color</h5>
              <a href="#"><img src="/images/demo/sw-1-lg.png" height="24" width="24" alt=""></a>
              <a href="#"><img src="/images/demo/sw-2-lg.png" height="24" width="24" alt=""></a>
              <a href="#"><img src="/images/demo/sw-3-lg.png" height="24" width="24" alt=""></a>
              <a href="#"><img src="/images/demo/sw-4-lg.png" height="24" width="24" alt=""></a>
              <a href="#"><img src="/images/demo/sw-5-lg.png" height="24" width="24" alt=""></a>
            </div>
            <div class="th-product-option th-product-option--inline">
              <h5 class="h5">Size</h5>
              <select name="size">
                <option value="" selected>Select size</option>
                <option value="SM">SM</option>
                <option value="MD">MD</option>
                <option value="LG">LG</option>
              </select>
            </div>

            <div class="th-product-option th-product-option--inline">
              <h5 class="h5">Qty</h5>
              <select name="size">
                <option value="" selected>1</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>

          </div>

          <div class="th-product-details--full__buttons">
            <button class="btn btn-lg btn-primary th-btn th-btn--add-to-cart"><span class="th-icon th-icon--cart"></span> Add to Cart</button>
          </div>

          <div class="th-product-details--full__description">
            <div class="th-product-details--full__description__item">
              <h5 class="h5">Description</h5>
              <p>Knit sweater in melange cotton with lined drawstring hood, short button placket, and side pockets.</p>
            </div>
            <div class="th-product-details--full__description__item">
              <h5 class="h5">Details</h5>
              <p>100% cotton. Machine wash warm. imported. Article No. 66-3334</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="th-products-grid">
          <h4 class="h4 th-products-grid__heading">Style With</h4>
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-6">
              <div class="th-products-grid__item">
                <div class="th-products-grid__item__image">
                  <a data-ui-sref="i18n.product({ productTitle: 'sample-product', productCode: 123 })"><img src="/images/demo/product-xs-1.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="th-products-grid__item__name"><a href="#">Cardigan</a></div>
                <div class="th-products-grid__item__price">$24.95</div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-6">
              <div class="th-products-grid__item">
                <div class="th-products-grid__item__image">
                  <a data-ui-sref="i18n.product({ productTitle: 'sample-product', productCode: 123 })"><img src="/images/demo/product-xs-2.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="th-products-grid__item__name"><a href="#">Cardigan</a></div>
                <div class="th-products-grid__item__price">$24.95</div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-6">
              <div class="th-products-grid__item">
                <div class="th-products-grid__item__image">
                  <a data-ui-sref="i18n.product({ productTitle: 'sample-product', productCode: 123 })"><img src="/images/demo/product-xs-3.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="th-products-grid__item__name"><a href="#">Cardigan</a></div>
                <div class="th-products-grid__item__price">$24.95</div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-6">
              <div class="th-products-grid__item">
                <div class="th-products-grid__item__image">
                  <a data-ui-sref="i18n.product({ productTitle: 'sample-product', productCode: 123 })"><img src="/images/demo/product-xs-4.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="th-products-grid__item__name"><a href="#">Cardigan</a></div>
                <div class="th-products-grid__item__price">$24.95</div>
              </div>
            </div>
          </div>
        </div>

        <div class="th-products-grid">
          <h4 class="h4 th-products-grid__heading">Similar</h4>
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-6">
              <div class="th-products-grid__item">
                <div class="th-products-grid__item__image">
                  <a href="#"><img src="/images/demo/product-xs-1.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="th-products-grid__item__name"><a href="#">Cardigan</a></div>
                <div class="th-products-grid__item__price">$24.95</div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-6">
              <div class="th-products-grid__item">
                <div class="th-products-grid__item__image">
                  <a href="#"><img src="/images/demo/product-xs-2.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="th-products-grid__item__name"><a href="#">Cardigan</a></div>
                <div class="th-products-grid__item__price">$24.95</div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-6">
              <div class="th-products-grid__item">
                <div class="th-products-grid__item__image">
                  <a href="#"><img src="/images/demo/product-xs-3.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="th-products-grid__item__name"><a href="#">Cardigan</a></div>
                <div class="th-products-grid__item__price">$24.95</div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-6">
              <div class="th-products-grid__item">
                <div class="th-products-grid__item__image">
                  <a href="#"><img src="/images/demo/product-xs-4.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="th-products-grid__item__name"><a href="#">Cardigan</a></div>
                <div class="th-products-grid__item__price">$24.95</div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div><!-- /.th-product-page-wrap -->
